<html>
<strong>Thank you for creating a UCSD QualApp account.</strong><br />
<blockquote>You will need the following information to activate your account:
<ul>
	<li>Username: {{username}}</li>
	<li>Key: {{key}}</li>
</ul>
To activate your account please <a href='http://cart.ucsd.edu/qualApp/accounts/activate/'>click here</a> or copy and paste this link into your browser:<br />
http://cart.ucsd.edu/qualApp/accounts/activate/</blockquote>
If you have any questions please feel free to e-mail Michael Folkerts: <a href="mailto:mfolkerts@physics.ucsd.edu?Subject=QualApp">mfolkerts@physics.ucsd.edu</a>
<br />
Enjoy!
</html>
